{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1 style="text-align:center;">Bonjour Eric</h1>
</div>
{% endblock %}
