<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block stylesheets %}
            {# {{ parent() }} #}
            {{ encore_entry_link_tags('home') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('home') }}
        {% endblock %}
    </body>
</html>
